<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Home Page</title>
</head>
<body>
<h1>Form</h1>
<form action="/" method="post">
  <label>
    <input name="title" placeholder="title" type="text"/>
  </label>
  <button type="submit">Submit</button>
</form>
<a href="/about">About page</a>
<hr>
<a href="/api/users">API</a>
</body>
</html>
